<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="username">ZM 32 ({{user.firstname}} {{user.lastname}})</span>

  <span class="toolbar-content">
    <span class="route-name"> {{routeName}} </span>
  </span>

</mat-toolbar>

<mat-sidenav-container class="fixed-sidenav">
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/app-bestellliste" routerLinkActive="active" (click)="sidenav.close()">Bestellungen</a>
      <a mat-list-item routerLink="/app-artikelliste" routerLinkActive="active" (click)="sidenav.close()">Artikelliste</a>
      <a mat-list-item routerLink="/app-departments" routerLinkActive="active" (click)="sidenav.close()">Abteilungen</a>
      <a mat-list-item routerLink="/app-herstellers" routerLinkActive="active" (click)="sidenav.close()">Hersteller</a>
      <a mat-list-item routerLink="/app-lieferants" routerLinkActive="active" (click)="sidenav.close()">Lieferanten</a>
      <a mat-list-item routerLink="/app-personal" routerLinkActive="active" (click)="sidenav.close()">Mitarbeiter</a>
      <a mat-list-item routerLink="/app-logout" routerLinkActive="active" (click)="sidenav.close()">Ausloggen</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
