<h1 mat-dialog-title>Artikel bearbeiten</h1>
<div mat-dialog-content fxLayout="column" fxLayoutGap="16px" fxFlexFill>

    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="data.name">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Beschreibung</mat-label>
        <input matInput [(ngModel)]="data.description">
    </mat-form-field>

    <div>
        <label> Hersteller auswählen (optional):</label>
        <select class="custom-select-no-margin" [(ngModel)]="selectedLieferant" (ngModelChange)="onLieferantChange($event)">
            <option *ngFor="let item of lieferants" [ngValue]="item">{{ item.name }}</option>
        </select>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Abbrechen</button>
    <button mat-button (click)="save()">Speichern</button>
</div>
