<h1 mat-dialog-title>{{ data.formTitle }}</h1>

<div mat-dialog-content class="mat-dialog-content" fxLayout="column" fxLayoutGap="16px">

    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="data.name">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Beschreibung</mat-label>
        <input matInput [(ngModel)]="data.description">
    </mat-form-field>

    <form [formGroup]="dropDownForm">
        <!-- Abteilung -->
        <div class="dropdown-section">
            <label>Abteilung:</label>
            <div class="dropdown-wrapper">
                <ng-multiselect-dropdown id="departments"
                                         class="custom-select-no-margin"
                                         [placeholder]="'Abteilung auswählen'"
                                         [settings]="dropdownSettings"
                                         [data]="departments"
                                         formControlName="departments">
                    <ng-template let-item="item">
                        <div class="custom-item">
                            {{ item.name }}
                        </div>
                    </ng-template>
                </ng-multiselect-dropdown>
            </div>
        </div>

        <!-- Lieferant -->
        <div class="dropdown-section">
            <label>Lieferant (Optional):</label>
            <div class="dropdown-wrapper">
                <ng-multiselect-dropdown id="lieferants"
                                         class="custom-select-no-margin"
                                         [placeholder]="'Lieferant auswählen (Optional)'"
                                         [settings]="dropdownSettings"
                                         [data]="lieferants"
                                         formControlName="lieferants">
                    <ng-template let-item="item">
                        <div class="custom-item">
                            {{ item.name }}
                        </div>
                    </ng-template>
                </ng-multiselect-dropdown>
                <button *ngIf="isOnlyOneLieferantSelected()"
                        mat-icon-button class="color-confirm"
                        matTooltip="Lieferant bearbeiten" (click)="addLieferant(true)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button class="color-confirm" matTooltip="Neuen Lieferant hinzufügen" (click)="addLieferant()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>

        <!-- Hersteller -->
        <div class="dropdown-section">
            <label>Hersteller (Optional):</label>
            <div class="dropdown-wrapper">
                <ng-multiselect-dropdown id="herstellers"
                                         class="custom-select-no-margin"
                                         [placeholder]="'Hersteller auswählen (Optional)'"
                                         [settings]="dropdownSettings"
                                         [data]="herstellers"
                                         formControlName="herstellers">
                    <ng-template let-item="item">
                        <div class="custom-item">
                            {{ item.name }}
                        </div>
                    </ng-template>
                </ng-multiselect-dropdown>
                <button *ngIf="isOnlyOneHerstellerSelected()"
                        mat-icon-button class="color-confirm"
                        matTooltip="Hersteller bearbeiten" (click)="addHersteller(true)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button class="color-confirm" matTooltip="Neuen Hersteller hinzufügen" (click)="addHersteller()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </form>

</div>

<mat-toolbar color="custom-toolbar" class="fixed-toolbar">
    <span class="spacer"></span>
    <button mat-icon-button class="align-button color-cancel" matTooltip="Abbrechen" (click)="onNoClick()">
        <mat-icon>cancel</mat-icon>
    </button>
    <button mat-icon-button class="align-button color-confirm" matTooltip="Speichern" (click)="save()">
        <mat-icon>save</mat-icon>
    </button>
</mat-toolbar>
