<h1 mat-dialog-title>{{ data.formTitle }}</h1>
<div mat-dialog-content class="mat-dialog-content" fxLayout="column">

    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="data.name">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>PLZ</mat-label>
        <input matInput [(ngModel)]="plz">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Ort</mat-label>
        <input matInput [(ngModel)]="ort">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Adresse</mat-label>
        <input matInput [(ngModel)]="adresse">
    </mat-form-field>
</div>

<mat-toolbar color="custom-toolbar" class="fixed-toolbar">
    <span class="spacer"></span>
    <button mat-icon-button class="align-button color-cancel" matTooltip="Abbrechen" (click)="onNoClick()">
        <mat-icon>cancel</mat-icon>
    </button>
    <button mat-icon-button class="align-button color-confirm" matTooltip="Speichern" (click)="save()">
        <mat-icon>save</mat-icon>
    </button>
</mat-toolbar>
