/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/azure-blue.css";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}
:root {
  --primary-color: #605DC8;
  --secondary-color: #8B89E6;
  --accent-color: #e8e7fa;
  --shadow-color: #E8E8E8;
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-form-field {
  display: block;
  margin-bottom: 16px; /* Optional: add some spacing between fields */
}

.custom-select {
  /* Optionally, you can adjust other padding properties as needed */
  margin: 10px 0 10px 50px;

  display: block;
  width: 80%;
  height: calc(2.25rem + 2px);
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.margin-left-50 {
  /* Optionally, you can adjust other padding properties as needed */
  margin: 10px 0 10px 50px;
}

/* Style the options */
.custom-select option {
  padding: 0.375rem 0.75rem;
}